<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pun Game</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>CS PUN94</h1>
    <form method="POST">

      <div class="form__fieldset">
        <label for="amount" class="form__label">Word to make puns from:</label>
        <input type="text" name="amount" id="amount" class="form__input" />
      </div>

    </br>

      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Generate Puns"
        />
      </div>
    </form>
  </br>
  </br>
    <h3> {{entries[3]}} </h3>
    <b class="pun"> 1. {{entries[0]}} </b>
  </br>
  </br>
    <b class="pun"> 2. {{entries[1]}} </b>
  </br>
  </br>
    <b class="pun"> 3. {{entries[2]}} </b>
  </body>
</html>